name = "securitytxt-worker"
type = "webpack"
account_id = ""
zone_id = ""
workers_dev = false
routes = ["https://www.cloudflare.com/.well-known/security.txt", "https://www.cloudflare.com/gpg/your-public-key.txt"]